@font-face {
	font-family: "Veles";
	src: url("fonts/ofont.ru_Veles.ttf") format("truetype");
}

.btn {
	padding: 15px 30px;
	font-size: 1.2em;
	font-family: "Veles", sans-serif;
	color: #fff;
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, border-color 0.3s ease;
}


#no {
	background-color: #f400a1;
}

#no:hover {
	background-color: #b3446c;
	border-color: #a12d2f;
}


#yes {
	background-color: #f400a1;
}

#yes:hover {
	background-color: #b3446c;
	border-color: #a12d2f;
}
